{% extends "base.njk" %}

{% block content %}
<div ng-controller="aliasController" class="alias">
    <div class="help_text">
        <p>You are trying to claim the address <a href="/${account}" >${account}</a>
        <p>The address claim feature uses your wallet's ability to cryptographically sign a message. This can be used to prove the ownership of a specific address.<p>
        <p>To claim your address ownership you'll have to sign the desired Display Name using one of the methods available on your Blacknet wallet. Copy the returned result and paste it down into the Signature field.</p>
    </div>
    <fieldset class="fieldset_claim">
        <legend data-i18n="Claim your address">Claim your address</legend>
        <div class="field-row">
            <label data-i18n="account">Account</label>
            <input type="text" id="account" ng-model="account" value="6546jdjfds">
        </div>
        <div class="field-row">
            <label data-i18n="Display Name">Display Name</label>
            <input type="text" autocomplete="off" id="display_name" ng-model="display_name">
        </div>
        <div class="field-row">
            <label data-i18n="signature">Signature</label> 
            <input type="text" autocomplete="off" name="signature" id="signature" ng-model="signature">
        </div>
        <button id="claim" data-i18n="Claim" ng-click="claimClick()">Claim</button>
        <span class="res_msg" style="font-size:12px" ng-bind="res_msg"></span>
    </fieldset>
</div>
{% endblock %}