{% extends "base.njk" %}

{% block content %}
<div ng-controller="blockController" id="block_detail" data-height="{{height}}">
    <h3 data-i18n="Block Info">Block Info</h3>
        <table>
        <tbody>
            <tr>
                <td class="height" data-i18n="Height">Height</td>
                <td>
                    <span class="overview_height">${block.height}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="BlockHash">Hash</td>
                <td>
                    <span class="overview_blockHash" ng-if='block.height != 0'>${ block.blockHash.toLowerCase()}</span>
                    <span class="overview_blockHash" ng-if='block.height == 0'>${ block.blockHash.toUpperCase()}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="BlockTime">Time</td>
                <td>
                    <span>${block.time|timestr}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Block Size">Size</td>
                <td>
                    <span>${block.size} bytes</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Reward">Reward</td>
                <td>
                    <span class="strong">${block.reward} BLN</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Generator">Generator</td>
                <td>
                    <span ng-if='block.height != 0'><a href="/${block.generator.toLowerCase()}">${block.generator.toLowerCase()}</a></span>
                    <span ng-if='block.height == 0'>${block.generator.toLowerCase()}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="signature">Signature</td>
                <td>
                    <span>${block.signature.toLowerCase()}</span>
                </td>
            </tr>

        </tbody>
    </table>
    <h3 data-i18n="Transactions">Transactions</h3>
    <table id="block-table" class="block-detail">
        <thead>
            <tr>
                <td class="time" data-i18n="Time">Time</td>
                <td class="narrow" data-i18n="Type">Type</td>
                <td class="narrow" data-i18n="Account">Account</td>
                <td data-i18n="Amount">Amount</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="block.transactions" ng-repeat="tx in block.transactions">
                <td class="time">${block.time | timestr}</td>
                <td>${tx.type | txType}</td>
                <td class="address">
                    <a ng-if="tx.from != 'genesis'" href="/${tx.from}">${tx.from}</a><br ng-if="tx.data.to" />
                    <a ng-if="tx.to" href="/${tx.to}">${tx.to}</a>
                </td>
                <td class="right"><span class="strong">${tx.data.amount|currency} BLN</span></td>
            </tr>
            <tr ng-if="!block.transactions">
                <td colspan="4">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}