{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Peer Info">Peer Info</h3>
    <h4> <label data-i18n="Connected Peers">Connected Peers </label> <span class="strong"> {{currentPeers.length}}</span></h4>
    <table id="block-table">
        <thead>
            <tr>
                <td data-i18n="Index">Index</td>
                <td data-i18n="Host">Host</td>
                <td data-i18n="Port">Port</td>
                <td data-i18n="Country">Country</td>
                <td class="mobile-hide" data-i18n="Add Peer">Add Peer</td>
            </tr>
        </thead>
        <tbody id="block-list">
            {% for peer in currentPeers %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{peer.ip}}</td>
                    <td>{{peer.port}}</td>
                    <td>{{ peer.location["country_name"] if peer.location["country_name"] else "Unknown" }}</td>
                    <td class="mobile-hide"><a target="_blank" href="http://127.0.0.1:8283/api/v1/addpeer/{{peer.ip}}/{{peer.port}}/true">Connect</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}