{% extends "base.njk" %}

{% block content %}
    {% include "media/table.njk" %}
    
    <h3 data-i18n="Recent Transactions">Recent Transactions</h3>
    <table id="block-table" class="txns" ng-controller="recent_transactions">
        <thead>
            <tr>
                <td class="" data-i18n="Height">Height</td>
                <td class="time" data-i18n="Time">Time</td>
                <td data-i18n="Type">Type</td>
                <td class="txhash" data-i18n="Tx Hash">Tx Hash</td>
                <td class="amount" data-i18n="Amount">Amount</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="transactions.length > 0" ng-repeat="tx in transactions">
                <td class=""><a href="/${tx.data.blockHeight}">${tx.data.blockHeight}</a></td>
                <td class="time">${tx.time | realstr}</td>
                <td>${tx.type | txType}</td>
                <td class="txhash">
                    <a href="/${tx.txid.toLowerCase()}">${tx.txid.toLowerCase()}</a> 
                </td>
                <td  class="right amount"><span class="strong">${tx.data.amount | currency } BLN</span></td>
            </tr>
            <tr ng-if="transactions.length == 0">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}