{% extends "base.njk" %}

{% block content %}

<div ng-controller="recent_blocks">
    {% include "media/table.njk" %}
    <h3 data-i18n="Recent Blocks">Recent Blocks</h3>
    <table id="block-table" class="blocks">
        <thead>
            <tr>
                <td class="height" data-i18n="height">Height</td>
                <td class="size" data-i18n="size">Size</td>
                <td class="time" data-i18n="time">Time</td>
                <td class="txns" data-i18n="txns">Txns</td>
                <td class="generator" data-i18n="generator">Generator</td>
                <td class="reward" data-i18n="reward">Reward</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="blocks.length > 0" ng-repeat="block in blocks">
                <td class="height"><a href="/${block.height}">${block.height}</a></td>
                <td class="size">${block.size}</td>
                <td class="time">${block.time|realstr}</td>
                <td class="txns">${block.transactions.length}</td>
                <td class="generator"><a href="/${block.generator}">${block.generator}</a></td>
                <td class="reward"><span class="overview_blockHash strong">${block.reward} BLN</span></td>
            </tr>
            <tr ng-if="blocks.length == 0">
                <td colspan="6">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}