{% extends "base.njk" %}

{% block content %}
<div ng-controller="top_accounts">
    <h3 data-i18n="Top Accounts">Top Accounts
    </h3>
    <div class="filter">
        <a class="{% if order == 'rich' %}active{% endif %}" href="/top_accounts?order_by=rich" data-i18n="Rich List">Rich List</a>
        <a class="{% if order == 'pos' %}active{% endif %}" href="/top_accounts?order_by=pos" data-i18n="Pos Generated">Pos Generated</a>
        <a class="{% if order == 'staking' %}active{% endif %}" href="/top_accounts?order_by=staking" data-i18n="Staking Balance">Staking Balance</a>
    </div>
    {% if order == 'rich' %}
        <table id="top_table">
            <thead>
                <tr>
                    <td data-i18n="Rank">Rank</td>
                    <td data-i18n="Account">Account</td>
                    <td data-i18n="Balance">Balance</td>
                    <td data-i18n="percent">Percent</td>
                </tr>
            </thead>
            <tbody id="block-list">
                <tr ng-if="top_accounts.length" ng-repeat="(index,account) in top_accounts">
                    <td>${index + 1}</a></td>
                    <td class="address"><a href="/${account.address}">${account.displayName || account.address}</a></td>
                    <td><span class="strong">${account.realBalance|currency|touch} BLN</span></td>
                    <td>${account.realBalance| percent}%</td>
                </tr>
                <tr ng-if="top_accounts.length == 0">
                    <td colspan="4">
                        {% include "spinner.njk" %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if order == 'pos' %}
        <table id="top_table">
            <thead>
                <tr>
                    <td data-i18n="Rank">Rank</td>
                    <td data-i18n="Account">Account</td>
                    <td data-i18n="blocks" class="right">Blocks</td>
                </tr>
            </thead>
            <tbody id="block-list">
                <tr ng-if="top_accounts.length" ng-repeat="(index,account) in top_accounts">
                    <td>${index+1}</a></td>
                    <td class="address"><a href="/${account.address}">${account.displayName || account.address}</a></td>
                    <td class="right"><span class="strong">${account.blocks} blocks</span></td>
                </tr>
                <tr ng-if="top_accounts.length == 0">
                    <td colspan="3">
                        {% include "spinner.njk" %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    
    {% if order == 'staking' %}
        <table id="top_table">
            <thead>
                <tr>
                    <td data-i18n="Rank">Rank</td>
                    <td data-i18n="Account">Account</td>
                    <td data-i18n="Staking Balance"  class="right">Staking Balance</td>
                </tr>
            </thead>
            <tbody id="block-list">
                <tr ng-if="top_accounts.length" ng-repeat="(index,account) in top_accounts">
                    <td>${index+1}</a></td>
                    <td  class="address"><a href="/${account.address}">${account.displayName || account.address}</a></td>
                    <td class="right"><span class="strong">${account.stakingBalance | currency|touch} BLN</span></td>
                </tr>
                <tr ng-if="top_accounts.length == 0">
                    <td colspan="3">
                        {% include "spinner.njk" %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    <script type="text/javascript" src="/js/highcharts.js"></script>
    <div load-Script ng-src="/js/highcharts.js" class="chart">
    </div>
</div>
{% endblock %}