{% extends "base.njk" %}

{% block content %}
<div ng-controller="transaction">
    <h3 data-i18n="Transaction Info">Transaction Info</h3>
    <table>
        <tbody>
            <tr>
                <td class="minwidth" data-i18n="txid">Txid</td>
                <td>
                    <span class="overview_height">${tx.txid.toLowerCase()}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Amount">Amount</td>
                <td>
                    <span class="overview_blockHash strong">${tx.amount|currency} BLN</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="fee">Fee</td>
                <td>
                    <span class="overview_blockHash strong">${tx.fee|currency} BLN</span>
                </td>
            </tr>
            
            <tr>
                <td data-i18n="time">Time</td>
                <td>
                    <span>${tx.time|timestr}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="size">Size</td>
                <td>
                    <span>${tx.size} bytes</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="seq">Seq</td>
                <td>
                    <span>${tx.seq}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="type">Type</td>
                <td>
                    <span>${tx.type|txType}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Confirmations">Confirmations</td>
                <td>
                    ${overview.height - tx.data.blockHeight + 1} Confirmations
                </td>
            </tr>
            <tr>
                <td data-i18n="from">From</td>
                <td>
                    <span><a href="/${tx.from.toLowerCase()}">${tx.from.toLowerCase()}</a></span>
                </td>
            </tr>
            <tr>
                <td data-i18n="to">To</td>
                <td>
                    <span><a href="/${tx.to.toLowerCase()}">${tx.to.toLowerCase()}</a></span>
                </td>
            </tr>
            
            <tr>
                <td data-i18n="blockHeight">Height</td>
                <td>
                    <span><a href="/${tx.data.blockHeight}">${tx.data.blockHeight}</a></span>
                </td>
            </tr>
            <tr>
                <td data-i18n="blockHash">Hash</td>
                <td>
                    <span><a href="/${tx.blockHash.toUpperCase()}">${tx.blockHash.toUpperCase()}</a></span>
                </td>
            </tr>
            <tr>
                <td data-i18n="signature">Signature</td>
                <td>
                    <span>${tx.signature.toLowerCase()}</span>
                </td>
            </tr>
            <tr>
                <td data-i18n="message">Message</td>
                <td>
                    <span>${tx.data.message}</span>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}